<mat-toolbar color="primary" class="flex justify-between">
    <span>{{isEdit() ? 'Edit '+data?.name : 'Create New Task'}}</span>
    <button mat-raised-button color="warn" mat-dialog-close >close</button>
</mat-toolbar>

<mat-progress-bar mode="indeterminate" *ngIf="loading()" class="my-1"></mat-progress-bar>

<form class="flex flex-col p-4 shadow-md" [formGroup]="formGroup">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-select placeholder="Task Status" formControlName="status">
            <mat-option *ngFor="let status of taskStatus" [value]="status">
                {{status}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="flex justify-end items-center p-2">
        <button mat-raised-button color="primary" (click)="submit()"
            [disabled]="formGroup.invalid || loading()">{{this.isEdit() ? 'Edit': 'Save'}}</button>
    </div>

</form>